html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#backgroundImage, #titleScreenImage, #canvasContainer {
    width: 700px;
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    color: gainsboro;
}

#titleScreenImage {
    translate: 0px -700px;
}

#saveFileContainer {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas;
    font-size: 12px;
    height: 210px;
}

.savefileeditor {
    color: gainsboro;
    padding: 2px 0px 0px 0px;
    font-family: consolas;
    font-size: 12px;
    width: 200px;
    border-width: 0px;
    background-image: url("data/flags/Sillylind.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.savefileuser {
    color: black;
    margin: 8px;
    border-width: 0px;
    background-image: url("data/flags/Ocean snail isles.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.savefiledisplay {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas;
    font-size: 12px;
    width: 100px;
    text-wrap: wrap;
}